<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    pwd<h1>Правила генерирования пароля</h1>
    <div class="cont">

        <p>Пароль должен быть длиной от 6 до 12 символов и может содержать в себе буквы в нижнем и верхнем регистрах,<br>
            цифры,а также символы. Для выбора содержимого пароля отметьте галочкой необходимый пункт. </p>
        <p><a href="{% url 'home' %}" style="color:brown">Вернуться на главную</a></p>

    </div>

</body>
</html>